<header>
  <nav>
    <div class="navbar navbar-dark bg-dark shadow-sm">
      <div class="navbar-brand align-item-center d-flex">
        <div class="container">
      <p><i style="font-size: 40px;" class="fa fa-laptop"></i>
        <strong style="font-size: 30px;">LaptopShop</strong></p>
        <div class="myform">
          <p><input type="text" class="myform" placeholder="search product">
        <button class="glyphicon glyphicon-search"></button></p>
        </div>
         <p><span routerLink="/product" class="glyphicon glyphicon-home"></span></p>
          <p><span routerLink="/register-user" class="glyphicon glyphicon-user"></span></p>
          <p><span class="glyphicon glyphicon-list"></span></p>
          
           <p><span  style="font-size: 16px" routerLink="/cart" class="glyphicon glyphicon-shopping-cart" >
        <!--<i style="font-size: 30px;" class="fas fa-cart-plus"></i>-->
        <div style="font-size: 10px;" class="badge bg-danger">{{totalItem}}</div>  
      
    </span></p>
    <p><i routerLink="/payment" class="fa fa-money-check-alt"></i></p>
   
        </div>
      </div>
      </div>
  </nav>
</header>

  


