<link rel="stylesheet" href="register-user.component.css">
<body>
  <style>
    body{
        background-image: url("../assets/img1.jpg") ;
        background-repeat: no-repeat;
        background-size: cover;
        height: 600px;
        background-position: center;

    }
</style>
<div class="center">
  <h1>Login</h1>
  <form method="post" (ngSubmit)="userRegister()">
      <div class="txt_field">
          <input type="text" required name="userId"  [(ngModel)]="user.userId">
          <span></span>
          <label>UserName:</label>
      </div>

      <div class="txt_field">
          <input type="password" required name="password" id="password" [(ngModel)]="user.password">
          <span></span>
          <label>Password:</label>
      </div>

      <div class="pass">Forgot Password?</div>
      <input type="submit" value="Login">
      <div class="signup_link">
          Not a member? <a href="#">Signup</a>
      </div>
  </form>
</div>
</body>







<!--
<div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
      <h1 style="color: blue;">Login</h1>
      
        <div class="card-body">
          <form (ngSubmit)="userRegister()">
          <div class="form-group">
            <label>User Id:</label>
            <input type="text" class="form-control" name="userId"  [(ngModel)]="user.userId">
            <div class="error error-txt">Email can't be blank</div>
      
          </div>
      
      
          <div class="form-group">
            <input type="password" class="form-control" name="password" id="password" [(ngModel)]="user.password">
          <div class="error error-txt">Password can't be blank</div>
        </div>

        <div class="pass-txt"><a href="#">Forgot password?</a></div>
        <div class="box-footer">
        <button type="submit"  class="btn btn-primary">Login</button>
      </div>
    
      </form>
      </div>
      <div class="sign-txt">Not yet member? <a href="#">Signup now</a></div>
    </div>
  </div>
  </div>
-->
  
  
  
    
   
   
 
